<head>
	<link rel="stylesheet" href="app.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<h1>tick<span>list</span> for <span>2020!</span></h1>
		<h2>A simple climbing goal list app built with node</h2>
	</header>

	<section class="form">
		<input type="text" id="goalInput" placeholder="Insert your goal here...">
	</section>

	<ul class="list">
	</ul>

	<script src="app.js"></script>
</body>